@font-face {
    font-family: "Space Mono";
    src: url(./Fonts/SpaceMono-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", sans-serif;
}

html {
    scroll-behavior: smooth;
}

@media only screen and (min-width: 1260px) {
    nav {
        width: 100%;
        height: 60px;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1a2a5e;
        /* border-bottom: 2px solid #fe5220; */
    }

    .hamburger {
        display: none;
    }

    .nav-border {
        border-bottom: 2px solid #1a2a5e;
        background-color: #fff;
    }

    .nav-border a {
        color: #1a2a5e;
    }

    h1 {
        font-size: 3rem;
    }

    nav ul li {
        list-style: none;
        display: inline-block;
        padding: 0 40px;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 1.3rem;
    }

    nav ul li a:hover {
        box-shadow: 0px 4px #fe5220;
    }

    nav ul li span,
    .start .start-right h1 .highlight,
    .about-me .about-me-left .about-me-info h1 span,
    .skills .skills-top .skills-text h1 span,
    .projects .projects-top .projects-text h1 span,
    .contact .contact-right .contact-right-holder .contact-text h1 span {
        color: #fe5220;
    }

    body {
        width: 100%;
        /* font-size: 20px; */
        font-size: 1.1rem;
        color: #1a2a5e;
    }

    .start {
        box-sizing: border-box;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 200ms linear;
        overflow: hidden;
    }

    .start-left {
        height: 100%;
        width: 50%;
        background-color: #1a2a5e;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .start-photo {
        height: 90%;
        width: 90%;
        text-align: center;
        transition: 200ms linear;
    }

    .start-photo img {
        height: 100%;
        width: auto;
    }

    .start-right {
        height: 100%;
        width: 50%;
        background-color: #1a2a5e;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .start-hello {
        display: none;
    }

    .start-right h1,
    .start-right h2 {
        color: #fff;
    }

    .start-contact {
        display: flex;
        justify-content: flex-start;
        margin-top: 2%;
        position: relative;
    }

    .start-contact a {
        height: 50px;
        width: 50px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .start-contact a .hidden-logo {
        display: none;
    }

    .start-contact a:hover .hidden-logo {
        display: block;
    }

    .start-contact a:hover img {
        display: none;
    }

    .start-contact a img {
        height: 70%;
        width: 70%;
        background-color: #fe5220;
        padding: 5%;
        position: relative;
        transition: 200ms linear;
    }

    .start-contact a img:hover {
        cursor: pointer;
        box-shadow: -4px 4px #000;
        bottom: 2px;
        left: 2px;
        transition: 200ms linear;
    }

    .about-me {
        display: flex;
    }

    .about-me-left {
        height: 100vh;
        width: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-me-info {
        height: 70%;
        width: 70%;
        background-color: #fff;
        overflow: scroll;
        border: 2px solid #1a2a5e;
        box-shadow: -10px 10px #1a2a5e;
    }

    .about-me-info h1,
    .about-me-info p {
        margin: 20px;
    }

    .about-me-right {
        box-sizing: border-box;
        height: 100vh;
        width: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 5%;
    }

    .about-me-grafic {
        height: 70%;
        width: 90%;
    }

    .about-me-grafic img {
        height: 100%;
        width: 100%;
    }

    .fade-in-graphic {
        opacity: 0;
        transition: 500ms ease-in;
    }

    .fade-in-graphic.appear {
        opacity: 1;
    }

    .skills,
    .projects {
        height: 100vh;
        width: 100%;
        background-color: #fff;
    }

    .skills-top {
        height: 25%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .skills-text h2 {
        background: linear-gradient(to bottom, transparent 60%, #fbd703 60%);
    }

    .skills-bottom {
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skills-holder {
        height: 75%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skills-holder .skills-img {
        height: 15%;
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .skills-holder .skills-img img {
        height: 80%;
        width: 80%;
        object-fit: contain;
    }

    .skills-holder .skills-img p {
        height: 20%;
        margin: 15px;
        text-align: center;
    }

    .skills-holder .fade-in {
        opacity: 0;
        transition: 500ms ease-in;
    }

    .skills-holder .fade-in.appear {
        opacity: 1;
    }

    .projects-top {
        height: 22%;
        width: 100%;
        padding-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projects-bottom {
        height: 70%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skewY(-3deg);
        background-image: url(./Photo/yellow-fon.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-top: 2px solid #1a2a5e;
        border-bottom: 2px solid #1a2a5e;
    }

    .projects-holder {
        height: 80%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transform: skewY(3deg);
    }

    .projects-holder img {
        height: 32%;
        width: 100%;
    }

    .projects-holder .project {
        height: 90%;
        width: 22%;
        background-color: #fff;
        border: 1px solid #1a2a5e;
        overflow: hidden;
        position: relative;
        box-shadow: -5px 5px #1a2a5e;
    }

    .projects-coming-soon img,
    .projects-coming-soon .project-used-technology,
    .projects-coming-soon .projects-button-holder {
        filter: blur(2px);
    }

    .projects-holder .project h1 {
        font-size: 1.2rem;
        padding-top: 5%;
        text-align: center;
    }

    .project-used-technology {
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        margin: 5%;
    }

    .project-used-technology .tech {
        height: 10%;
        width: auto;
        display: flex;
        align-items: center;
        background-color: #1a2a5e;
        color: #fff;
        padding: 2%;
        margin: 2%;
        font-size: 0.9rem;
    }

    .projects-button-holder {
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projects-button,
    .projects-button-coming-soon {
        height: 60%;
        width: 60%;
        border: 2px #1a2a5e solid;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: 200ms linear;
    }

    .projects-button:hover {
        background-color: #fe5220;
        color: #fff;
        transition: 200ms linear;
        cursor: pointer;
        box-shadow: -5px 5px #1a2a5e;
        bottom: 3px;
        left: 3px;
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #1a2a5e;
        background-color: #fff;
        height: 80%;
        width: 40%;
        color: #1a2a5e;
        overflow: visible;
    }

    .modal-body {
        height: 80%;
    }

    .left-btn {
        cursor: pointer;
        position: fixed;
        top: 50%;
        left: -10%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        background-color: #fff;
        border: none;
        outline: none;
        border-radius: 50%;
    }

    .left-btn img {
        height: 100%;
    }

    .right-btn {
        cursor: pointer;
        position: fixed;
        top: 50%;
        right: -10%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        background-color: #fff;
        border: none;
        outline: none;
        border-radius: 50%;
    }

    .right-btn img {
        height: 100%;
    }

    .modal .modal-js-project {
        display: block;
    }

    .modal .modal-react-project {
        display: none;
    }

    .modal-js-buttons {
        display: flex;
    }

    .modal-react-buttons {
        display: none;
    }

    .modal::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }

    .modal-header {
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal .modal-header h1 {
        font-size: 1.75rem;
    }

    .modal-header h1 span {
        color: #fe5220;
    }

    .modal-header .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 1.75rem;
    }

    .modal-text {
        padding: 5%;
        height: 45%;
        overflow: scroll;
        margin: 5% 0;
    }

    .modal-text h2 {
        font-size: 1.2rem;
    }

    .modal-text h2 span {
        background: linear-gradient(to bottom, transparent 60%, #fbd703 60%);
    }

    .modal-used-technology {
        height: 10%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 0 5%;
    }

    .modal-used-technology .tech {
        height: 30%;
        width: auto;
        display: flex;
        align-items: center;
        background-color: #1a2a5e;
        color: #fff;
        padding: 1%;
        margin: 1%;
        font-size: 0.9rem;
    }

    .modal-button-holder {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
    }

    .modal-button {
        height: 40%;
        width: 30%;
        border: 2px #1a2a5e solid;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 200ms linear;
        position: relative;
    }

    .modal-button a {
        height: 100%;
        width: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-size: 1.3rem;
    }

    .modal-button:hover {
        background-color: #fe5220;
        transition: 200ms linear;
        cursor: pointer;
        box-shadow: -5px 5px #1a2a5e;
        bottom: 3px;
        left: 3px;
    }

    .modal-button:hover a {
        color: #fff;
        cursor: pointer;
    }

    .contact {
        position: relative;
        display: flex;
    }

    .contact-email-send {
        border: 2px #1a2a5e solid;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }

    .contact-email-send img {
        height: 100px;
    }

    .contact-email-send h1 {
        text-align: center;
        margin-top: 20px;
        font-size: 2rem;
    }

    .contact-left {
        height: 100vh;
        width: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-left-holder {
        height: 70%;
        width: 70%;
        display: grid;
        grid-template: 20% 20% 20% 25% / 30% 30% 30%;
        grid-gap: 5%;
    }

    .contact-email {
        grid-column: 1 / 4;
        grid-row: 2 / 5;
        border: 2px solid #1a2a5e;
        box-shadow: -10px 10px #1a2a5e;
    }

    .contact-social {
        border: 2px solid #1a2a5e;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 200ms linear;
    }

    .contact-social a {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .contact-social img {
        height: 60%;
        width: auto;
    }

    .contact-social p,
    .contact-social .hidden-image {
        display: none;
    }

    .contact-social:hover {
        background-color: #fe5220;
        color: #fff;
        transition: 200ms linear;
        cursor: pointer;
        box-shadow: -10px 10px #1a2a5e;
        bottom: 5px;
        left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-social:hover img {
        display: none;
    }

    .contact-social:hover p {
        display: flex;
        font-size: 0.9rem;
        text-align: center;
        margin-top: 5px;
    }

    .contact-social:hover .hidden-image {
        display: flex;
        height: 40%;
        width: auto;
    }

    .contact-email form {
        height: 90%;
        width: auto;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.2rem;
    }

    form .my-email {
        margin-top: 0;
        width: fit-content;
        text-align: center;
        background: linear-gradient(to bottom, transparent 60%, #fbd703 60%);
    }

    form .input-text {
        height: 30%;
        font-size: 1.2rem;
        border: 1px solid #1a2a5e;
        padding-left: 5px;
        resize: none;
        outline: none;
    }

    form .input-email {
        height: fit-content;
        font-size: 1.2rem;
        border: 1px solid #1a2a5e;
        padding-left: 5px;
        outline: none;
        appearance: none;
    }

    form .form-button-holder {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form .form-button-holder button {
        height: 100%;
        width: 20%;
        border: 2px #1a2a5e solid;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 200ms linear;
        position: relative;
        font-size: 1.2rem;
    }

    form .form-button-holder button:hover {
        background-color: #fe5220;
        color: #fff;
        transition: 200ms linear;
        cursor: pointer;
        box-shadow: -5px 5px #1a2a5e;
        bottom: 3px;
        left: 3px;
    }

    .contact-right {
        height: 100vh;
        width: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-right-holder {
        height: 70%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border: 2px solid #1a2a5e;
        box-shadow: -10px 10px #1a2a5e;
    }

    .contact-text {
        height: 20%;
        width: 100%;
    }

    .contact-text h1 {
        margin: 20px;
    }

    .contact-map {
        height: 40%;
        width: 100%;
        text-align: center;
    }

    .contact-map img {
        height: 100%;
        width: auto;
    }

    .contact-my-info {
        height: 10%;
        width: 100%;
        margin-top: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
    }

    .contact-my-info img {
        height: 60%;
        width: auto;
        margin: 0 20px;
    }

    .contact-my-info p {
        background: linear-gradient(to bottom, transparent 60%, #fbd703 60%);
    }
}

@media only screen and (max-width: 1260px) {
    .navbar {
        width: 100%;
        height: 60px;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1a2a5e;
        /* border-bottom: 2px solid #fe5220; */
    }

    .hamburger {
        display: none;
    }

    .nav-border {
        border-bottom: 2px solid #1a2a5e;
        background-color: #fff;
    }

    .nav-border a {
        color: #1a2a5e;
    }

    h1 {
        font-size: 3rem;
    }

    .navbar .nav-menu {
        display: flex;
    }

    .navbar .nav-menu li {
        list-style: none;
        padding: 0 40px;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .navbar .nav-menu li a:hover {
        box-shadow: 0px 4px #fe5220;
    }

    nav ul li span,
    .start .start-right h1 .highlight,
    .about-me .about-me-left .about-me-info h1 span,
    .skills .skills-top .skills-text h1 span,
    .projects .projects-top .projects-text h1 span,
    .contact .contact-right .contact-right-holder .contact-text h1 span {
        color: #fe5220;
    }

    body {
        position: relative;
        width: 100%;

        font-size: 1.1rem;
        color: #1a2a5e;
    }

    .start {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #1a2a5e;
        position: relative;
    }

    .start-left {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .start-photo {
        height: 80%;
        width: 100%;
    }

    .start-photo img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .start-right {
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .start-greeting {
        text-align: center;
        color: #fff;
    }

    .start-contact {
        display: none;
    }

    .about-me {
        display: flex;
        flex-direction: column;
    }

    .about-me-left {
        height: 90vh;
        width: 100%;
        background-color: #fff;
        display: flex;
        align-items: flex-start;
        margin-top: 5%;
        justify-content: center;
    }

    .about-me-info {
        height: 90%;
        width: 70%;
        background-color: #fff;
        overflow: scroll;
        border: 2px solid #1a2a5e;
        box-shadow: -10px 10px #1a2a5e;
        margin-top: 10%;
        font-size: 1.75rem;
        padding: 20px;
    }

    .about-me-right {
        height: 90vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-me-grafic {
        width: 60%;
        margin-top: 5%;
    }

    .about-me-grafic img {
        height: 100%;
        width: 100%;
    }

    .skills {
        height: 100vh;
        width: 100%;
        background-color: #fff;
    }

    .skills-top {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .skills-text {
        width: 80%;
    }

    .skills-bottom {
        height: 85%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skills-holder {
        height: 90%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skills-holder .skills-img {
        height: 25%;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .skills-holder .skills-img img {
        height: 60%;
        width: 60%;
        object-fit: contain;
    }

    .skills-holder .skills-img p {
        height: 15%;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 5%;
    }

    .projects {
        height: fit-content;
    }

    .projects-top {
        height: 30%;
        width: 100%;
        padding-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projects-text {
        width: 80%;
        text-align: start;
    }

    .projects-bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projects-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .projects-holder .project {
        height: 80vh;
        width: 60%;
        margin-top: 10%;
        background-color: #fff;
        border: 2px solid #1a2a5e;
        overflow: hidden;
        position: relative;
        box-shadow: -10px 10px #1a2a5e;
    }

    .projects-holder img {
        height: 40%;
        width: 100%;
    }

    .projects-coming-soon img,
    .projects-coming-soon .project-used-technology,
    .projects-coming-soon .projects-button-holder {
        filter: blur(2px);
    }

    .projects-holder .project h1 {
        padding-top: 5%;
        text-align: center;
        font-size: 3rem;
    }

    .project-used-technology {
        height: 28%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        margin: 5%;
    }

    .project-used-technology .tech {
        height: 10%;
        width: auto;
        display: flex;
        align-items: center;
        background-color: #1a2a5e;
        color: #fff;
        padding: 2%;
        margin: 2%;
        font-size: 1.25rem;
    }

    .projects-button-holder {
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projects-button,
    .projects-button-coming-soon {
        height: 90%;
        width: 60%;
        border: 2px #1a2a5e solid;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: 200ms linear;
        font-size: 2rem;
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #1a2a5e;
        background-color: #fff;
        height: 90%;
        width: 70%;
        color: #1a2a5e;
        overflow: visible;
    }

    .modal-body {
        height: 80%;
    }

    .left-btn {
        cursor: pointer;
        position: fixed;
        top: 50%;
        left: -5%;
        transform: translateY(-50%);
        height: 40px;
        width: 40px;
        background-color: #fff;
        border: none;
        outline: none;
        border-radius: 50%;
    }

    .left-btn img {
        height: 100%;
    }

    .right-btn {
        cursor: pointer;
        position: fixed;
        top: 50%;
        right: -5%;
        transform: translateY(-50%);
        height: 40px;
        width: 40px;
        background-color: #fff;
        border: none;
        outline: none;
        border-radius: 50%;
    }

    .right-btn img {
        height: 100%;
    }

    .modal .modal-js-project {
        display: block;
    }

    .modal .modal-react-project {
        display: none;
    }

    .modal .modal-js-buttons {
        display: flex;
    }

    .modal .modal-react-buttons {
        display: none;
    }

    .modal::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }

    .modal-header {
        padding: 5% 10% 0 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal .modal-header h1 {
        font-size: 2rem;
    }

    .modal-header h1 span {
        color: #fe5220;
    }

    .modal-header .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 3rem;
        color: #1a2a5e;
    }

    .modal-text {
        padding: 10%;
        height: 40%;
        overflow: scroll;
        margin: 2% 0;
    }

    .modal-text h2 {
        font-size: 1.3rem;
    }

    .modal-used-technology {
        height: 10%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 0 5%;
    }

    .modal-used-technology .tech {
        height: 35%;
        width: auto;
        display: flex;
        align-items: center;
        background-color: #1a2a5e;
        color: #fff;
        padding: 1%;
        margin: 1%;
        font-size: 1.25rem;
    }

    .modal-button-holder {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
    }

    .modal-button {
        height: 35%;
        width: 35%;
        border: 2px #1a2a5e solid;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 200ms linear;
        position: relative;
        font-size: 1.5rem;
    }

    .modal-button a {
        height: 100%;
        width: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
    }

    .contact {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }

    .contact-email-send {
        border: 2px #1a2a5e solid;
        background-color: #fff;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -75%);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        z-index: 5;
    }

    .contact-email-send img {
        height: 100px;
    }

    .contact-email-send h1 {
        text-align: center;
        margin-top: 20px;
        font-size: 2rem;
    }

    .contact-left {
        height: 80vh;
        width: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;
    }

    .contact-left-holder {
        height: 80%;
        width: 60%;
        display: grid;
        grid-template: 20% 20% 20% 25% / 30% 30% 30%;
        grid-gap: 5%;
    }

    .contact-email {
        grid-column: 1 / 4;
        grid-row: 2 / 5;
        border: 2px solid #1a2a5e;
        box-shadow: -10px 10px #1a2a5e;
    }

    .contact-social {
        border: 2px solid #1a2a5e;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 200ms linear;
    }

    .contact-social a {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .contact-social img {
        height: 60%;
        width: auto;
    }

    .contact-social p,
    .contact-social .hidden-image {
        display: none;
    }

    .contact-email form {
        height: 90%;
        width: auto;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    form .my-email {
        width: fit-content;
        text-align: center;
        background: linear-gradient(to bottom, transparent 60%, #fbd703 60%);
    }

    form .input-text {
        height: 30%;
        font-size: 1.5rem;
        border: 1px solid #1a2a5e;
        padding-left: 5px;
        resize: none;
        outline: none;
    }

    form .input-email {
        height: fit-content;
        font-size: 1.5rem;
        border: 1px solid #1a2a5e;
        padding-left: 5px;
        outline: none;
        appearance: none;
    }

    form .form-button-holder {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form .form-button-holder button {
        height: 100%;
        width: 40%;
        border: 2px #1a2a5e solid;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 200ms linear;
        position: relative;
        font-size: 1.5rem;
        color: #1a2a5e;
    }

    .contact-right {
        height: 60vh;
        width: 100%;
        background-color: #fff;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .contact-right-holder {
        height: 80%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border: 2px solid #1a2a5e;
        box-shadow: -10px 10px #1a2a5e;
    }

    .contact-text {
        height: 20%;
        width: 100%;
    }

    .contact-text h1 {
        margin: 20px;
    }

    .contact-map {
        height: 40%;
        width: 100%;
        text-align: center;
    }

    .contact-map img {
        height: 100%;
        width: auto;
    }

    .contact-my-info {
        height: 10%;
        width: 100%;
        margin-top: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
    }

    .contact-my-info img {
        height: 60%;
        width: auto;
        margin: 0 20px;
    }
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 2rem;
    }

    .start-left {
        height: 50%;
    }

    .start-right {
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5%;
        align-items: center;
    }

    .about-me-info {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 800px) {
    .navbar {
        position: absolute;
        min-height: 70px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .nav-menu {
        position: fixed;
        top: -100%;
        background-color: #1a2a5e;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: 0.5s;
    }

    .nav-menu.active {
        position: absolute;
        top: 60px;
    }

    .nav-menu li {
        margin: 25px 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin: 0 35px;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    p {
        font-size: 0.9rem;
        overflow: auto;
    }

    .start {
        justify-content: center;
    }

    .start-left {
        height: 70%;
        margin-top: 5%;
    }

    .start-photo {
        height: 70%;
    }

    .start-right {
        height: 30%;
        margin-top: 0;
        width: 100%;
    }

    .about-me-info {
        width: 80%;
    }

    .about-me-info h1,
    .about-me-info p {
        margin: 10px;
        margin-bottom: 20px;
    }

    .about-me-grafic {
        width: 90%;
    }

    .skills-holder .skills-img img {
        height: 70%;
        width: 70%;
    }

    .skills-holder .skills-img p {
        font-size: 0.9rem;
    }

    .projects-holder .project {
        width: 80%;
    }
    .projects-holder .project h1 {
        font-size: 1.5rem;
    }

    .project-used-technology .tech {
        font-size: 0.9rem;
    }

    .projects-button,
    .projects-button-coming-soon {
        font-size: 1.5rem;
    }

    .modal {
        width: 90%;
    }

    .modal .modal-header h1 {
        font-size: 1.5rem;
    }

    .modal .modal-header .close-button {
        font-size: 2rem;
    }

    .modal-text {
        height: 52%;
    }

    .modal-text h2 {
        font-size: 1rem;
    }

    .modal-used-technology .tech {
        font-size: 0.9rem;
    }

    .modal-button {
        font-size: 0.9rem;
    }

    .contact-left-holder {
        width: 80%;
    }

    .contact-email form {
        font-size: 0.9rem;
    }

    form .input-text {
        font-size: 0.9rem;
    }

    form .input-email {
        font-size: 0.9rem;
    }

    form .form-button-holder button {
        font-size: 0.9rem;
    }

    .contact-right-holder {
        width: 80%;
    }
}
